/* home */
.icon-card{
    left: 0px;
    position: absolute;
    margin-left: 5%;
    margin-top: 2%;
}

body#portada ul.menu li:nth-child(1) a {
  background: red;
}
body#portada ul.menu li:nth-child(1) a,
body#noticias ul.menu li:nth-child(2) a,
body#productos ul.menu li:nth-child(3) a,
body#contacto ul.menu li:nth-child(4) a {
  background: red;
}


.icon-card{
    left: 0px;
}


#main-home{
	height: 100%;
    width: 100%;
    margin-left: 150px;
    padding-right: 145px;
}
.card-margin-top{
    margin-top: 8px;
}

.all-width{
    width: 100%;
}

.subtitle{
    margin-top: -5px;
   
}

.icon-points-right{
    margin-top: -4px;
    right: 10px;
    position: absolute;
}

.subtitle2{
   padding-top: 10px;
    width: 100%;
}

.subtitle3{
    color: black;
    margin-top: -3px;
}

.under-line{
    width: 100%;
    height: 1px;
    background-color: #f5f5f5;
    left: 0px;
    position: absolute;  
    margin-top: 10px;
}
