<div>  
  <div id="mySidenav" class="sidenav">
 <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
  <a routerLink="/home">Home</a>
  <a routerLink="/fec">FEC</a>
  <a routerLink="/desembolso">Desembolso</a>

</div>

<div class="right-panel">
          <md-toolbar class="underLine">
<!--
    <button md-icon-button>
      <i class="material-icons md-48">keyboard_backspace</i>
    </button>  
    -->
{{subtitle}}
</md-toolbar>
          <router-outlet></router-outlet>
</div>
</div>