<step-progress></step-progress>
<header-status></header-status>



<div>
<div class="padding-left-right text-gray ">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 hijo-center">
          <label *ngIf = "!mobile">Número de cuotas</label>
          <md-input-container [ngClass]=" mobile == true ? 'width-all' : ''">
            <input mdInput placeholder="{{mobile ==true? 'Perioricidad' : '' }}">
          </md-input-container>
      
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 hijo-center">
          <label *ngIf = "!mobile">Taza</label>
          <md-input-container [ngClass]=" mobile == true ? 'width-all' : ''">
            <input mdInput placeholder="{{mobile ==true? 'Taza' : '' }}">
          </md-input-container>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 hijo-center">
          <label *ngIf = "!mobile">Perioricidad</label>
          <md-input-container [ngClass]=" mobile == true ? 'width-all' : ''">
            <input mdInput placeholder=" {{mobile ==true? 'Perioricidad' : '' }}">
          </md-input-container>
      
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 hijo-center">
        
          <label *ngIf = "!mobile">Primer vencimiento</label>
          <md-input-container [ngClass]=" mobile == true ? 'width-all' : ''">
            <input mdInput placeholder="{{mobile ==true? 'Primer vencimiento' : '' }}">
          </md-input-container>
      
    </div>
  </div>
</div>
  <div class="line-separator"></div>

  <div class="container-fluid padding-left-right">
  <!--  <simple-table [colums]="cronograma" [titles]="titles"></simple-table>  -->

  </div>

  <div class="">
    <div class="footer">
        <button md-raised-button class="pull-left">   Imprimir  </button>
        <button md-raised-button class="button-ok pull-right">   Financiar   </button>  
        <button md-raised-button class="button-Regresar pull-right">   Regresar   </button>   
             
    </div>
  </div>

</div>

