		
	<div class="container" id="line-status">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4">
					<div id="local">
					<h1>Local</h1>	
					<img src="../app/core/img/info.svg" alt="" class="img-responsive">
					</div>
				</div>
				<div class="col-md-2 center-div">
					<div id="block-info">
						<h1>Plazo max</h1><br>
						<h5>90 días</h5>
					</div>
				</div>
				<div class="col-md-2 center-div">
				<div id="block-info">
					<h1>Tasa soles</h1><br>
					<h5>5%</h5>
					</div>
				</div>
				<div class="col-md-2 center-div">
				
					<h1>Tasa dólares</h1><br>
					<h5>5%</h5>
				</div>
				
				<div class="col-md-2 center-div" id="mount">
					<h1>Disponible</h1><br>
					<h5>S/. 12,567.98</h5>
				</div>				
			</div>
		</div>	
	</div>	
