



<router-outlet></router-outlet>

<md-card>
  <button md-raised-button routerLink="registrar">Registrar</button>
<button md-raised-button routerLink="cronograma">Contnuar</button>
</md-card>
<!--<div><label>id: </label>{{hero.id}}</div>

<div>
      <label>name: </label>
      <input [(ngModel)]="hero.name" placeholder="name">
</div>

<li *ngFor="let hero of HEROES" (click)="onSelect(hero)">
  <span class="badge">{{hero.id}}</span> {{hero.name}}
</li>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} details!</h2>
  <div><label>id: </label>{{selectedHero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
  </div>
</div>

-->